.bhFancyText {
  font-family: 'Lily Script One', cursive;
}

#glfStatus {
  color: gray;
  font-size: 1.5em;
}

.bhImageBadges {
  text-align: center;
}

.bhBlockImage {
  margin: 0 auto;
}

.bhFeaturette {
  text-align: center;
}

*[readonly] {
  cursor: auto!important;
}