.bhFancyText {
  font-family: 'Lily Script One', cursive;
}

#glfStatusOff,
#txtStatus {
  color: lightgray;
}

#glfStatusOn {
  color: yellowgreen;
}

.bhImageBadges {
  text-align: center;
}

.bhBlockImage {
  margin: 0 auto;
}

.bhFeaturette {
  text-align: center;
}

*[readonly] {
  cursor: auto!important;
}